<script>
    import Readme from "../../README.md"
</script>

<Readme />

<style>
    :global(table) {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        max-width: 100%;
        overflow-x: auto;
        border: 1px solid var(--neutral-hover);
        border-radius: 1rem;

        :global(thead),
        :global(tbody) {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;

            :global(tr) {
                display: grid;
                grid-template-columns: subgrid;
                grid-column: 1 / -1;
                padding: 1rem;
                border-bottom: 1px solid var(--neutral-hover);

                :global a {
                    color: var(--fg);

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        :global(thead tr) {
            background: var(--neutral-light);

            :global(th) {
                font-weight: 600;
            }
        }

        :global(tbody tr:last-of-type) {
            border-bottom: none;
        }

        :global(th, td) {
            text-align: left;
            align-self: center;
        }
    }
</style>
